/* button {
  background-color: #00acee;
  border-radius: 8px;
  border: none;
  color: #ffff;
  cursor: pointer;
  margin-top: 25px;
  padding: 5px;
  text-align: center;
}

button:hover {
  background-color: #00acaa;
  color: #ffff;
} */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}