.Gif {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  text-decoration: none;
}

.container-gif {
  margin: 6px;
}

.Gif img {
    object-fit: contain;
}

h4 {
  color: #fff;
  margin: 10px;
}

p {
  color: #fff;
  margin: 20px;
  font-size: 26px;
}

@media (max-width: 700px) {
  img {
    max-width: 400px;
    max-height: auto;
  }
}

@media (max-width: 400px) {
  img {
    max-width: 150px;
    max-height: auto;
  }

  .container-gif {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.container {
  position: relative;
  height: 300px;
}

.gif-buttons {
  position: absolute;
  top: 8px;
  right: 8px;
}