.btn-fav{
    background: rgba(255, 172, 172, .2);
    border: 0;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    transition: all .3s ease;
    cursor: pointer;
}

.btn-fav:hover {
    background: rgb(255, 172, 172, .8);
}

.heart {
    display: block;
    width: 20px;
}
