p {
  color: #ffff;
}

h3 {
  color: #3498DB;
  font-size: 40px;
  font-weight: 500;
}

input {
  box-sizing: border-box;
  width: 400px;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

input:focus {
  margin: 0;
  outline: none;
  border: 1px solid  #00acee;
}

.container {
  display: flex;
}

.container-results{
  display: flex;
  flex-direction: column;
}

.results {
  margin-right: 30px;
  min-height: 100vh;
}

.trendings {
  margin-left: 30px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  input {
    width: 220px;
  }
  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
  }
}

@media (max-width: 340px) {
  input {
    width: 200px;
  }
}

