section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

li {
  padding: 2px;
  margin: 5px;
}

@media (max-width: 900px) {
  ul {
    display: flex;
    flex-direction: row;
  }
}

