.modal {
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

.model_content {
    background-color: #f0f0f0;
    width: 300px;
    padding: 10px 20px;
    height: 80vh;
    margin: 10vh auto;
    position: relative;
    z-index: 999;
}

.btn_modal_close {
    display: block;
    margin-bottom: 32px;
    border: 0;
}
