.gf-header {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.gf-header a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 0 12px;
}

.gf-header a + a {
    margin: 0 12px;
}