.container_form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.input_form {
    padding: .8rem;
    margin: 0.6rem 0;
}

.input_form:focus {
    margin: 0.6rem 0;
}

.btn_form {
    cursor: pointer;
    margin: 0.6rem 0;
}

.btn_form[disabled] {
    opacity: .3;
    pointer-events: none;
}

.error {
    color: red;
    font-size: 16px;
    margin: 0;
}