.pl_title {
    color: #fff;
}

.login_form {
    display: flex;
    flex-direction: column;
}

.login_input {
    margin: .5rem 0;
    width: auto;
}

.login_btn {
    cursor: pointer;
    height: 30px;
    border: none;
    border-radius: 6px;
    overflow: hidden;
    background: #487eb0;
}


