.App {
  text-align: center;
  color: #ffff;
}

.App-content {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  align-items: center;
  margin: 0 100px;
}

.title-name {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 15px;
}

button {
  font-size: 20px;
}

a {
  color: #ffff;
  text-decoration: none;
  margin: 10px 0;
}

a:hover {
  color: #00acee;
}

nav {
  display: flex;
  flex-direction: row;
}
